h3{
	text-align: center;
	margin: 30px;
}
.rebe{
	background-color: rebeccapurple!important;
}
.blue{
	background-color: blue!important;
}
.green{
	background-color: chartreuse!important;
}
a{
	margin: 2px;
}